.one_video
{
  color: black;
}
.one_video img
{
  display: block;
  margin:0 auto !important;
}
.one_video_active
{
  background: #ddd;
}


.one_video:hover
{
  cursor: pointer;
}

#yt_videos
{
  margin-top: 10px;
  text-align: center;
}

.fa
{
  font-size: 24px;
  color:black;
}

.fa:hover
{
  cursor: pointer;
}
